<!DOCTYPE html>
<html>
<body style="text-align: center">
<h1 style="color: green"> Registration successful </h1>
<h3>
Welcome
<%= firstName %>
<%= lastName %>
<form action="/gdata" method="GET">
<input type="submit" value="getdata">
</h3>
</body>
</html>